# sudo apt-get install python-dev
--index-url https://pypi.python.org/simple/

datadog
google-api-python-client
oauth2client
prometheus_client
pyyaml

mock
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
